:root{
    --color-accent: #ff3400;
    --color-body: #918ca4;
    --color-heading: #1b0760;
}

/* typography */

*, *::before ,*::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--color-body);
    font-family: Inter, Ariel, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2{
    color: var(--color-heading);
    line-height: 1.1;
    margin-bottom: 1rem;
}

p{
    margin-top: 0;
}

h1{
    font-size: 5rem;
    margin-top: 0;
}

h2{
    font-size: 3.5rem;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    
    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 2.5rem;
    }
}

/* card */

.card{
    border-radius: 7px;
    box-shadow: 0 0 30px 10px rgb(216, 213, 213);
    width: 30rem;
    height: 15rem;
    margin: 1rem auto;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 330px) {
    .card{
        width: 26rem;
        height: 13rem;
    }
}

@media screen and (min-width: 768px) {
    .card{
        width: 40rem;
        height: 20rem;
    }
}

/* button */

.btn{
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 4.5rem;
    width: fit-content;
    border-radius: 30px;
}

.btn--primary{
    background: var(--color-accent);
    color: #fff;
}

.btn--primary:hover{
    background: gold;
    color: #1b0760;
}

.btn--outline{
    background-color: #fff;
    border: 2px solid var(--color-heading);
    color: var(--color-heading);
}


.btn--outline:hover{
    background-color: var(--color-heading);
    border: 2px solid var(--color-heading);
    color: #fff;
}

a{
    text-decoration: none;
}

/* grid */

.grid{
    display: grid;
    column-gap: 0;
}

@media screen and (min-width: 1024px) {
    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* conainer */

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* block */

.block{
    width: 100%;
}

.block-gray{
    background: #f9f6f6;
}

.block-skewed-left{
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    padding-bottom: 2rem;
}

/* logos */

.logo{
    width: 50px;
    margin-right: 3rem;
}

.twitter{
    width: 75px;
}

/* assembly line*/

.welcome{
    text-align: center;
    letter-spacing: 2px;
}

@media screen and (min-width: 1024px) {
    .welcome{
        letter-spacing: 30px;
    }
}


/* hero */

.hero{
    padding: 5rem 0;
}

.hero__image{
    width: 250px;
    justify-self: center;
    align-self: center;
}

.hero__text{
    text-align: center;
    line-height: 1;
    padding: 1rem;
    margin-top: 8rem;
}

/* work section */

.work__heading{
    text-align: center;
}

.projects{
    gap: 1rem;
    padding: 2rem;
}

.p-two__image{
    width: 100%;
    height: 100%;
}

.p-one__image{
    width: 100%;
    height: 100%;
}

.project-one{
    position: relative;
}

.host{
    position: absolute;
    top: 0;
    color: #fff;
    padding-left: 1rem;
    padding-top: 1rem;

}

.project-two{
    position: relative;
}

.burger{
    position: absolute;
    top: 0;
    color: #3d2414;
    padding-left: 1rem;
}

.invitation{
    text-align: center;
}

.invi{
    margin-top: 4rem;
    padding: 0 2rem;
}

/* contact */

.contact{
    text-align: center;
    margin: 5rem auto;
}

.cont{
    margin-bottom: 4rem;
}

/* socilas */

.socials{
    text-align: center;
}